<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    p {

      text-align: justify;
    }
    .ft{
      position: absolute;
      bottom: 0px;
      font-size: 10px;
    }
    .contact{
      margin: 0px;
      padding: 0px;
    }


  </style>
</head>
<body>


<div style="background-image: url('./assets/bwg.png');
    height: 100vh"  class="bg-image container-fluid ">
  <div class="row pt-2">
    <div class="col col-4 offset-4">
      <img src="./assets/LOGO3v2.png">
    </div>
  </div>


<!--<div class="row under " style="margin-top: 180px">
    <div class=" col ">
      <h1 class="fst-italic under" style="font-size: xxx-large; text-align: center">  SITE WEB SOUS CONSTRUCTION <i class="fas fa-tools"></i></h1>
    </div>
  </div>-->

<div class="row " style="margin-top: 100px">
  <div class=" col col-6 offset-3">
    <img src="./assets/under.png">
  </div>
</div>

<div class="container  fst-italic ft ">
<div class="row">
  <div class="col col-6 offset-1">
    <p ><b>À PROPOS DE NOUS</b></p>
    <p >MULTICERAME est reconnue au niveau National et International par la qualité
      de ses produits et de ses créations. Cette reconnaissance est le résultat
      de l’engagement, la persévérance, le dynamisme, la compétence et le savoir-faire d’ingénieurs,
      de techniciens, d’employés et d’ouvriers qui constituent l’Equipe MULTICERAME.
    </p>
  </div>

  <div class=" col col-4 offset-1  ">
    <p class="  contact"><b>CONTACTS</b></p>
    <p class=" contact">
      <i class="fas fa-map-marker-alt"></i>
      Km 4, Route Khouribga, BP 294 Berrechid Maroc
    </p>
    <p class=" contact">
      <i class="fas fa-phone"></i>
      Tél 1 : (212) 0523 71 33 71/70
    </p>
    <p class=" contact">

      <i class="fas fa-phone"></i>
      Tél 2 : (212) 0520 15 00 96
    </p>
    <p class=" contact">

      <i class="far fa-envelope"></i>
      Email: contact@multicerame.com
    </p>
  </div>

</div>

</div>
</div>

</body>
</html>

